body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.sidebar {
  background-color: #171742;
}

.content {
  background: rgb(26, 30, 80);
  background: linear-gradient(
    45deg,
    rgba(26, 30, 80, 1) 0%,
    rgba(46, 87, 126, 1) 50%,
    rgba(57, 108, 144, 1) 100%
  );
  color: white;
}

.chart {
  color: white;
}

.candle {
  stroke-width: 1;
}

.candle.up {
  fill: #81dfc4;
  stroke: #81dfc4;
}

.candle.down {
  fill: #d75b6d;
  stroke: #d75b6d;
}

.wick {
  stroke-width: 1.5;
}

.wick.up {
  stroke: #81dfc4;
}

.wick.down {
  stroke: #d75b6d;
}

.cross_hair {
  stroke: white;
  stroke-opacity: 70%;
  stroke-dasharray: 3;
}
